/* reset */
* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #111;
}
a {
  color: #111;
  text-decoration: none;
}
li {
  list-style: none;
}
table {
  border-spacing: 0;
}
.clearfix::before, .clearfix::after {
  display: block;
  content: '';
  clear: both;
}

#wrap {
  width: 1000px;
  margin: 0 auto;
}
#side {
  float: left;
  width: 300px;
}
#content {
  float: left;
  width: 700px;
}

/* header */
#side {
  text-align: center;
}
#side .logo {
  height: 120px;
  line-height: 120px;
  background: #999;
}
/* menu */
#side .nav {
  height: 650px;
  background: #888;
}
#side .nav li {
  text-align: center; background: #888;
}
#side .nav li a {
  padding: 10px; display: block; color: #222; background: rgba(0, 0, 0, .3);
}
#side .nav  li a:hover {
  background: rgba(0, 0, 0, .4);
}
#side .nav ul li ul.submenu {
  display: none;
}
#side .nav ul li ul.submenu a:hover {
  background: rgba(0, 0, 0, .4);
}

/* banner */
#banner {
  text-align: center;
  width: 700px;
  height: 400px;
  line-height: 400px;
  background: #777;
}

/* contents */
#contents {
  text-align: center;
}
#contents > div {
  float: left;
  width: 33.3333%;
  height: 250px;
  line-height: 250px;
}
#contents > div.cont1 {
  background: #666;
}
#contents > div.cont2 {
  background: #555;
}
#contents > div.cont3 {
  background: #444;
}

/* footer */
#footer {
  text-align: center;
}
#footer .foot1 {
  float: left;
  width: 200px;
  height: 120px;
  line-height: 120px;
  background: #999;
}
#footer .foot2 {
  float: left;
  width: 500px;
  height: 60px;
  line-height: 60px;
  background: #888;
}
#footer .foot3 {
  float: left;
  width: 500px;
  height: 60px;
  line-height: 60px;
  background: #777;
}